/* ==================== content secton ========================== */

.main {
    width: 100%;
    height: 80vh;
}

.content {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    padding: 14px 0px;
}

.content .info {
    height: 100%;
    padding: 26px 16px;
    width: 100%;
}

 .boxex{
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    margin-bottom: 5px;

 }

 .cbox{
    text-align: center;
    margin: 5px 10px;
 }

 .cbox i{
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--primary-color);
 }

 .c-info h4{
    font-size: 30px;
    font-family: 'Nunito';
    line-height: 3;
 }

 .c-info p{
    font-size: 23px;
    font-family: cursive;
    color: var(--primary-color);
 }


.content .form {
    height: 100%;
    padding: 33px 6%;
    
}
.content .form h4{
    font-size: 20px;
    font-family: 'Nunito';
}

.content .form form input, textarea{
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--navbar-bg);
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
}

@media (max-width: 913px){
    .cbox i{
        font-size: 25px;
     }
    
     .c-info h4{
        font-size: 18px;
        line-height: 3;
     }
    
     .c-info p{
        font-size: 15px;
        font-family: cursive;
        color: var(--primary-color);
     }
     /* .content .info {
        padding: 26px 0px;
    } */
}

/* ==================== end content secton ========================== */